[Unit]
Description=Tomcat 9 servlet container
After=network.target

[Service]
Type=forking
ExecStart=/opt/tomcat/latest/bin/startup.sh
ExecStop=/opt/tomcat/latest/bin/shutdown.sh
EnvironmentFile=-/etc/sysconfig/tomcat
Restart=on-failure
User=tomcat
Group=tomcat

[Install]
WantedBy=multi-user.target
