[Unit]
Description=Keycloak server
After=network.target

[Service]
ExecStart=/opt/keycloak/latest/bin/kc.sh start-dev
EnvironmentFile=-/etc/sysconfig/keycloak
Restart=on-failure
User=keycloak
Group=keycloak

[Install]
WantedBy=multi-user.target
